*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

:focus {
    outline: none;
}

:disabled {
    opacity: 0.8;
}

#NavMenu,
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#NavMenu {
    width: 100%;
    background-color: #1c8adb;
    padding: 20px;
}

    #NavMenu a {
        color: #fff;
        font-weight: bold;
    }

form {
    background: #fefefe;
}

    form h1,
    form h2 {
        text-align: center;
    }

#List {
    padding-left: 18px;
}

.container {
    flex-direction: column;
}

    .container h2 {
        margin: 10px;
    }

.col-small,
.col {
    margin: 8px 0;
}

.col {
    width: 95%;
}

.col-small {
    width: 50%;
}

#loans .container,
#customer .container {
    padding: 8px;
    margin: auto;
    border: 1px #ddd solid;
    background-color: #fff;
    width: 95%;
}

span:not(#CustNameLabel) {
    text-align: center;
    display: block;
    margin: auto;
}

#scroll {
    height: 295px;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 6px 1px;
}

#LoansGridView {
    width: 100%;
    border: 1px solid #ddd;
}

th a {
    text-decoration: none;
}

td:nth-child(6n+1) {
    text-align: center;
}

    th a,
    td:nth-child(6n+1) a {
        color: #0080ff;
    }


        th a:hover,
        th a:focus,
        td:nth-child(6n+1) a:hover,
        td:nth-child(6n+1) a:focus {
            color: #ff6a00;
        }

.btn-container {
    margin: 0 10px;
    text-align: center;
}

    .btn-container input {
        color: #fff;
        font-weight: bold;
        width: 25%;
        cursor: pointer;
        padding: 10px 9px;
        font-size: 1.1em;
    }

#ViewData {
    background: #005ab3;
    border: 1px solid #004080;
    margin-right: 8px;
}

    #ViewData:not(:disabled):hover,
    #ViewData:not(:disabled):focus {
        background: #e67200;
        border-color: #b35900;
    }

#Reset {
    background: #0074e6;
    border: 1px solid #005ab3;
}

    #Reset:not(:disabled):hover,
    #Reset:not(:disabled):focus {
        background: #ff6a00;
        border-color: #cc5500;
    }

input[type=text] {
    display: inline-block;
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 5px;
    padding: 8px;
}

    input[type=text]:hover,
    input[type=text]:focus {
        border-color: #0080ff;
    }

.error-msg-container {
    position: relative;
    margin-bottom: 15px;
}

#RequiredFieldValidatorCustName,
#RegularExpressionValidatorCustName {
    position: absolute;
    left: 0;
}
