*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fefefe;
}

:focus {
    outline: none;
}

form {
    padding: 8px;
    margin: auto;
    border: 1px #ddd solid;
    background-color: #fff;
}

    form h2 {
        text-align: center;
    }

.container,
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex-direction: column;
}

.col {
    margin: 8px 0;
    width: 90%;
}

input[type=text]:not(.dollar-content),
input[type=number]:not(.dollar-content):not(.apr-content) {
    margin-top: 5px;
    display: inline-block;
    border-color: #ddd;
    padding: 8px;
}

    input[type=text]:not(.dollar-content):hover,
    input[type=number]:not(.dollar-content):not(.apr-content):hover,
    input[type=text]:not(.dollar-content):focus,
    input[type=number]:not(.dollar-content):not(.apr-content):focus,
    .dollar:hover,
    .dollar:focus-within,
    .apr:hover,
    .apr:focus-within {
        border-color: #0080ff;
        outline: none;
    }

.dollar,
.apr {
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 5px;
    display: inline-block;
    padding: 8px;
}

.button-container {
    margin: 10px 0;
}

    .button-container input,
    #CheapLoansHyperLink {
        padding: 10px 9px;
        font-size: 1.1em;
    }

    .button-container input {
        cursor: pointer;
    }

        .button-container :not(:last-child) {
            margin-right: 8px;
        }

#Save,
#Reset {
    background: #005ab3;
    border-color: #004080;
}

    #Save:hover,
    #Save:focus,
    #Reset:not(:disabled):hover,
    #Reset:not(:disabled):focus {
        background: #e67200;
        border: #b35900;
    }

#Display,
#CheapLoansHyperLink {
    background: #0074e6;
    border-color: #005ab3;
}

    #Display:hover,
    #Display:focus,
    #CheapLoansHyperLink:hover,
    #CheapLoansHyperLink:focus {
        background: #ff6a00;
        border: #cc5500;
    }